<a href="https://colab.research.google.com/github/averydonmoyer/ds1002-hdj3fw/blob/main/10_27_printing_options.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# print

band = "Talking Heads"
member_count = 4

# old-school method of concatonating the variables
print("The name of this band is " + band + " and it has " + str(member_count) + " members")

# the Tuple method
print("The name of this band is", band, "and it has", member_count, "members")
  # uses commas instead of concatonating
  # also don't have to worry about data types (str vs int etc)

  # can also do functions within the Tuple method
print("The name of this band is", band, "and it has", member_count + 1, "members")

# the F-string method
print(f"The name of this band is {band} and it has {member_count} members")

The name of this band is Talking Heads and it has 4 members
The name of this band is Talking Heads and it has 4 members
The name of this band is Talking Heads and it has 5 members
The name of this band is Talking Heads and it has 4 members

In [12]:
# function output

mylist = [1, 223, 4, 25, 24]

def return_my_list():
  return mylist

var1 = return_my_list()
print(var1)

[1, 223, 4, 25, 24]

In [17]:
def simple_function(x,y,z):
  return x + y + z

simple_function(5,6,7)

simple_function(z=3,y=14,x=2)

19

In [18]:
class Cars:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def multiply_them(self, x, y):
    return self.x * self.y

In [19]:
class Records:
  var1 = "Rockets"
  var2 = "Bananas"

In [20]:
Records.var1

'Rockets'

In [21]:
record1 = Records()

In [22]:
record1.var1

'Rockets'

In [24]:
record1.var1 = "Mopeds"

record1.var1

'Mopeds'

In [25]:
Records.var1
# haven't altered the class above, just one instance

'Rockets'